# Terraform state
*.tfstate
*.tfstate.*
.terraform/
crash.log
crash.*.log

# Переменные с секретами
*.tfvars
*.tfvars.json
!terraform.tfvars.example

# Ключи и секреты
*.pem
*.key
sa-key.json
.ssh/
.secrets/

# OS / IDE
.DS_Store
.idea/
.vscode/
